{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Food Delivery Service</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="bg-yellow-50">
    <div class="container mx-auto px-4">
        <div class="flex flex-col items-center justify-center min-h-screen text-center py-4">
            <h1 class="text-4xl font-bold text-red-600 mb-4">Your Online Food Delivery Service !</h1>
            <div class="flex flex-wrap justify-center">
                <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5">
                    <div class=" rounded ">
                        <a href="{% url 'order' %}" class="inline-block px-6 py-3 text-lg text-white bg-red-600 rounded hover:bg-red-700">Order Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#order-button').hover(
                function() { $(this).animate({ 'zoom': 1.2 }, 400); },
                function() { $(this).animate({ 'zoom': 1 }, 400); }
            );
        });    
    </script>
</body>
</html>